

/* CONTACT */

#contact .layout-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.team-member {
    width: 210px;
}
.team-member-photo {
    width: 200px;
    height: 200px;
    z-index: 1;
    position: relative;
    display: block;
    margin-bottom: 2rem;
}
.team-member-photo::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary);
    top: 10px;
    left: 12px;
    z-index: -1;
    content: "";
}
.team-member-photo img {
    width: 200px;
    height: auto;
}
.team-member-info strong {
    font-size: 1.5rem;
    display: block;
    width: fit-content;
    margin-bottom: .5rem;
}
.team-member i {
    color: var(--primary);
    margin-right: .4rem;
    transition: var(--transition);
}
.team-member a {
    color: var(--text);
    text-decoration: underline;
    transition: var(--transition);
}
.team-member a:hover {
    color: var(--primary);
}
.team-member-socials {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: .5rem;
    font-size: 1.4rem;
}
.team-member-socials a:hover i {
    color: var(--text);
}

/* CTA */

#join-us .layout-content {
    background-color: var(--secondary30);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    border-radius: 1rem;
}
#join-us .secondary-button {
    background-color: var(--secondary);
}

#actions .layout-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0;
}
#actions a {
    width: calc(50% - 1.5rem);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 1rem;
    padding: 2rem;
    transition: var(--transition);
}
#actions-discord {
    color: var(--background);
    background: linear-gradient(to bottom left,#5865F2, #404EED);
}
#actions-ig {
    color: var(--background);
    background: linear-gradient(to bottom left,#833ab4,#fd1d1d,#fcb045);
}
#actions-discord:hover {
    background: linear-gradient(to bottom left, #3D46A9, #2C36A5);
}
#actions-ig:hover {
    background: linear-gradient(to bottom left, #5B287D, #B11414, #C98C37);
}

@media (max-width:550px) {
    #actions a {
        width: 100%;
    }
    #actions .layout-content {
        flex-direction: column;
    }
}